In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

df = pd.read_csv("./data.csv")

df

,CustomerID,Age,Gender,Income,VisitFrequency,AverageSpend,PreferredCuisine,TimeOfVisit,GroupSize,DiningOccasion,MealType,OnlineReservation,DeliveryOrder,LoyaltyProgramMember,WaitTime,ServiceRating,FoodRating,AmbianceRating,HighSatisfaction
0,654,35,Male,83380,Weekly,27.829142,Chinese,Breakfast,3,Business,Takeaway,0,1,1,43.523929,2,5,4,0
1,655,19,Male,43623,Rarely,115.408622,American,Dinner,1,Casual,Dine-in,0,0,0,57.524294,5,5,3,0
2,656,41,Female,83737,Weekly,106.693771,American,Dinner,6,Celebration,Dine-in,0,1,0,48.682623,3,4,5,0
3,657,43,Male,96768,Rarely,43.508508,Indian,Lunch,1,Celebration,Dine-in,0,0,0,7.552993,4,5,1,0
4,658,55,Female,67937,Monthly,148.084627,Chinese,Breakfast,1,Business,Takeaway,0,0,1,37.789041,2,3,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2149,39,Male,114857,Monthly,163.015254,American,Lunch,2,Business,Dine-in,0,1,1,7.206275,1,2,1,0
1496,2150,37,Female,133506,Weekly,190.991911,Italian,Lunch,4,Casual,Takeaway,0,0,0,37.863952,5,2,2,0
1497,2151,46,Male,119159,Monthly,150.088604,American,Lunch,4,Casual,Dine-in,0,1,0,3.925785,3,3,3,1
1498,2152,24,Male,27970,Weekly,196.363626,Italian,Dinner,6,Casual,Dine-in,1,1,0,24.228038,2,2,4,1
1499,2153,51,Male,148333,Weekly,171.119498,Chinese,Breakfast,4,Casual,Dine-in,1,1,1,39.402163,4,5,4,1

In [2]:
# Identifier les colonnes catÃ©gorielles et numÃ©riques
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
def categorical(df, column):
    # Retire les lignes avec donnÃ©es manquantes
    df = df.dropna()
    # Liste les items et les transforme en indices
    liste_ = list(df[column].value_counts().index)
    df[column] = df[column].apply(lambda x: liste_.index(x))
    return df
for col in categorical_features:
    df = categorical(df, col)
df

,CustomerID,Age,Gender,Income,VisitFrequency,AverageSpend,PreferredCuisine,TimeOfVisit,GroupSize,DiningOccasion,MealType,OnlineReservation,DeliveryOrder,LoyaltyProgramMember,WaitTime,ServiceRating,FoodRating,AmbianceRating,HighSatisfaction
0,654,35,1,83380,0,27.829142,1,0,3,1,1,0,1,1,43.523929,2,5,4,0
1,655,19,1,43623,2,115.408622,4,2,1,2,0,0,0,0,57.524294,5,5,3,0
2,656,41,0,83737,0,106.693771,4,2,6,0,0,0,1,0,48.682623,3,4,5,0
3,657,43,1,96768,2,43.508508,3,1,1,0,0,0,0,0,7.552993,4,5,1,0
4,658,55,0,67937,1,148.084627,1,0,1,1,1,0,0,1,37.789041,2,3,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2149,39,1,114857,1,163.015254,4,1,2,1,0,0,1,1,7.206275,1,2,1,0
1496,2150,37,0,133506,0,190.991911,0,1,4,2,1,0,0,0,37.863952,5,2,2,0
1497,2151,46,1,119159,1,150.088604,4,1,4,2,0,0,1,0,3.925785,3,3,3,1
1498,2152,24,1,27970,0,196.363626,0,2,6,2,0,1,1,0,24.228038,2,2,4,1
1499,2153,51,1,148333,0,171.119498,1,0,4,2,0,1,1,1,39.402163,4,5,4,1